.app-container{
  font-size: 14px;
  min-height: 100vh;
  color: #383838;
  padding: 1em;
}

.no-memes{
  padding: 1em;
}

.submission-box{
  padding: 1em;
  border-radius: 3px;
  width: auto;
}

.text-input{
  padding: .5em;
  margin: .5em;
  border: 1px solid black;
  border-radius: 5px;
}

.send-button{
  padding: .5em;
  margin-left: 1em;
  border-radius: 5px;
}

.header-text{
  font-size: 2em;
  font-weight: bold;
}

.memes-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  max-height: 100vw;
  justify-content: center;
  background-color: #e0edff;
  align-items: center;
}
