.meme-container{
    padding: 1em;
    margin: 1em;
    border: 1px solid black;
    border-radius: 5px;
    height: calc(30vh);
    display: row;
    background-color: white;
  }
  
  .meme-text{
    padding-bottom: .5em;
  }
  
  .meme-image{
    height: calc(30vh - 2em);
  }
